<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.storageModel">
      <section name="blobs" type="System.StorageModel.Configuration.BlobStorageSection, Cloud4Net.Abstractions"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="FileSystem" providerName="System.StorageModel.FileSystem.FileSystemProvider, Cloud4Net.FileSystem" connectionString=""/>
    <add name="Azure" providerName="System.StorageModel.WindowsAzure.AzureProvider, Cloud4Net.Azure" connectionString="AccountName=_YOUR_ACCOUNT_;AccountKey=_YOUR_KEY_;DefaultEndpointsProtocol=http"/>
    <add name="AWS" providerName="System.StorageModel.AWS.AWSProvider, Cloud4Net.AWS" connectionString="AWSAccessKeyID=_YOUR_ACCOUNT_;SecretAccessKey=_YOUR_KEY_"/>
    <add name="Cache" providerName="System.StorageModel.Caching.AspNetCacheProvider, Cloud4Net.Caching" connectionString="ChainProvider=FileSystem"/>
  </connectionStrings>
  <system.storageModel>
    <blobs defaultProvider="AWS">
    </blobs>
  </system.storageModel>
  <system.diagnostics>
    <sources>
      <source name="System.StorageModel.BlobStorage" switchValue="All"/>
    </sources>
  </system.diagnostics>
  <startup>
  </startup>
</configuration>
