<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="FileSystem" providerName="System.StorageModel.FileSystem.FileSystemProvider, Cloud4Net.FileSystem" connectionString=""/>
    <add name="Azure" providerName="System.StorageModel.WindowsAzure.AzureProvider, Cloud4Net.Azure" connectionString="AccountName=_YOUR_ACCOUNT_;AccountKey=_YOUR_KEY_;DefaultEndpointsProtocol=http"/>
    <add name="AWS" providerName="System.StorageModel.AWS.AWSProvider, Cloud4Net.AWS" connectionString="AWSAccessKeyID=_YOUR_ACCOUNT_;SecretAccessKey=_YOUR_KEY_"/>
    <add name="Cache" providerName="System.StorageModel.Caching.AspNetCacheProvider, Cloud4Net.Caching" connectionString="ChainProvider=FileSystem"/>
    <add name="WADLogs" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=WADLogs;Integrated Security=True" providerName="System.Data.SqlClient"/>

    <!--
    
    
    Cloud4Net.targets /t:BlobSync /p:ConfigFile=App.config /p:SourceStorage=Azure /p:TargetStorage=FileSystem
    -->
  </connectionStrings>
</configuration>
